---
http_interactions:
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=b2791d8640cafcbb42a67dde76554cb9&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1632764980,"sunrise":1632747150,"sunset":1632790142,"temp":81.63,"feels_like":79.61,"pressure":1011,"humidity":20,"dew_point":36.72,"uvi":5.5,"clouds":36,"visibility":10000,"wind_speed":1.01,"wind_deg":20,"wind_gust":4,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}]},"hourly":[{"dt":1632762000,"temp":81.1,"feels_like":79.18,"pressure":1011,"humidity":18,"dew_point":33.64,"uvi":4.15,"clouds":37,"visibility":10000,"wind_speed":0.78,"wind_deg":92,"wind_gust":1.21,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1632765600,"temp":81.63,"feels_like":79.61,"pressure":1011,"humidity":20,"dew_point":36.72,"uvi":5.5,"clouds":36,"visibility":10000,"wind_speed":1.74,"wind_deg":98,"wind_gust":3.36,"weather":[{"id":802,"main":"Clouds","description":"scattered
        clouds","icon":"03d"}],"pop":0},{"dt":1632769200,"temp":82.24,"feels_like":79.95,"pressure":1010,"humidity":18,"dew_point":34.56,"uvi":5.89,"clouds":29,"visibility":10000,"wind_speed":2.28,"wind_deg":91,"wind_gust":6.11,"weather":[{"id":802[...]
